#blog .tabgroup .ljc {
  background-image: url("../img/album/ljc.jpg");
  background-size: 100%;
}
#blog .tabgroup .fgh {
  background-image: url("../img/album/fgh.jpg");
  background-size: 100%;
}
#blog .tabgroup .czx {
  background-image: url("../img/album/czx.jpg");
  background-size: 100%;
}
#blog .tabgroup .zty {
  background-image: url("../img/album/zty.jpg");
  background-size: 100%;
}
#blog .tabgroup .tlx {
  background-image: url("../img/album/tlx.jpg");
  background-size: 100%;
}
#blog .tabgroup .hmz {
  background-image: url("../img/album/hmz.jpg");
  background-size: 100%;
}
#blog .tabgroup .yk {
  background-image: url("../img/album/yk.jpg");
  background-size: 100%;
}
#blog .tabgroup .zxl {
  background-image: url("../img/album/zxl.jpg");
  background-size: 100%;
}
#blog .tabgroup .zxy {
  background-image: url("../img/album/zxy.jpg");
  background-size: 100%;
}
#blog .tabgroup .zls {
  background-image: url("../img/album/zls.jpg");
  background-size: 100%;
}
#blog .tabgroup .tss {
  background-image: url("../img/album/tss.jpg");
  background-size: 100%;
}
#blog .tabgroup .sy {
  background-image: url("../img/album/sy.jpg");
  background-size: 100%;
}
#blog .tabgroup .gyj {
  background-image: url("../img/album/gyj.jpg");
  background-size: 100%;
}
#blog .tabgroup .gq {
  background-image: url("../img/album/gq.jpg");
  background-size: 100%;
}
#blog .tabgroup .tqp {
  background-image: url("../img/album/tqp.jpg");
  background-size: 100%;
}

#blog .tabgroup .mkf {
  background-image: url("../img/album/mkf.jpg");
  background-size: 100%;
}
#blog .tabgroup .wyy {
  background-image: url("../img/album/wyy.jpg");
  background-size: 100%;
}
#blog .tabgroup .ljl {
  background-image: url("../img/album/ljl.jpg");
  background-size: 100%;
}
#blog .tabgroup .ljx {
  background-image: url("../img/album/ljx.jpg");
  background-size: 100%;
}
#blog .tabgroup .myj {
  background-image: url("../img/album/myj.jpg");
  background-size: 100%;
}
#blog .tabgroup .ymh {
  background-image: url("../img/album/ymh.jpg");
  background-size: 100%;
}
#blog .tabgroup .cmj {
  background-image: url("../img/album/cmj.jpg");
  background-size: 100%;
}
#blog .tabgroup .zq {
  background-image: url("../img/album/zq.jpg");
  background-size: 100%;
}

/* 16 */
#blog .tabgroup .gzj {
  background-image: url("../img/album/gzj.jpg");
  
  background-size: 100%;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat
}
#blog .tabgroup .lxy {
  background-image: url("../img/album/lxy.jpg");
  background-size: 100%;

}
#blog .tabgroup .ly {
  background-image: url("../img/album/ly.jpg");
  background-size: 100%;
  
}
/* 17 */
#blog .tabgroup .xwh {
  background-image: url("../img/album/xwh.jpg");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat
}
#blog .tabgroup .wsn {
  background-image: url("../img/album/wsn.jpg");
  background-size: 100%;
}
#blog .tabgroup .dsy {
  background-image: url("../img/album/dsy.jpg");
  background-size: 100%;
}
#blog .tabgroup .dxl {
  background-image: url("../img/album/dxl.jpg");
  background-size: 100%;
}
#blog .tabgroup .fzr {
  background-image: url("../img/album/fzr.jpg");
  background-size: 100%;
}
#blog .tabgroup .lh {
  background-image: url("../img/album/lh.jpg");
  background-size: 100%;
}
#blog .tabgroup .xzt {
  background-image: url("../img/album/xzt.jpg");
  background-size: 100%;
}
#blog .tabgroup .zht {
  background-image: url("../img/album/zht.jpg");
  background-size: 100%;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat
}
#blog .tabgroup .lyr {
  background-image: url("../img/album/lyr.jpg");
  background-size: 100%;
}
#blog .tabgroup .cq {
  background-image: url("../img/album/cq.jpg");
  background-size: 100%;
}
#blog .tabgroup .xjp {
  background-image: url("../img/album/xjp.jpg");
  background-size: 100%;
}
#blog .tabgroup .zch {
  background-image: url("../img/album/zch.jpg");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat
}
#blog .tabgroup .lsw {
  background-image: url("../img/album/lsw.jpg");
  background-size: 100%;
}
#blog .tabgroup .lhz {
  background-image: url("../img/album/lhz.jpg");
  background-size: 100%;
}
#blog .tabgroup .lj {
  background-image: url("../img/album/lj.jpg");
  background-size: 100%;
}
#blog .tabgroup .wjy {
  background-image: url("../img/album/wjy.jpg");
  background-size: 100%;
}
#blog .tabgroup .zzy {
  background-image: url("../img/album/zzy.jpg");
  background-size: 100%;
}
