#blog .tabgroup .li {
    background-size: 100%;
}

#blog .tabgroup .ljc {
    background-image: url("../img/album/ljc.jpg");
}

#blog .tabgroup .fgh {
    background-image: url("../img/album/fgh.jpg");
}

#blog .tabgroup .czx {
    background-image: url("../img/album/czx.jpg");
}

#blog .tabgroup .zty {
    background-image: url("../img/album/zty.jpg");
}

#blog .tabgroup .tlx {
    background-image: url("../img/album/tlx.jpg");
}

#blog .tabgroup .hmz {
    background-image: url("../img/album/hmz.jpg");
}

#blog .tabgroup .yk {
    background-image: url("../img/album/yk.jpg");
}

#blog .tabgroup .zxl {
    background-image: url("../img/album/zxl.jpg");
}

#blog .tabgroup .zxy {
    background-image: url("../img/album/zxy.jpg");
}

#blog .tabgroup .zls {
    background-image: url("../img/album/zls.jpg");
}

#blog .tabgroup .tss {
    background-image: url("../img/album/tss.jpg");
}

#blog .tabgroup .sy {
    background-image: url("../img/album/sy.jpg");
}

#blog .tabgroup .gyj {
    background-image: url("../img/album/gyj.jpg");
}

#blog .tabgroup .gq {
    background-image: url("../img/album/gq.jpg");
}

#blog .tabgroup .tqp {
    background-image: url("../img/album/tqp.jpg");
}

#blog .tabgroup .mkf {
    background-image: url("../img/album/mkf.jpg");
}

#blog .tabgroup .wyy {
    background-image: url("../img/album/wyy.jpg");
}

#blog .tabgroup .ljl {
    background-image: url("../img/album/ljl.jpg");
}

#blog .tabgroup .ljx {
    background-image: url("../img/album/ljx.jpg");
}

#blog .tabgroup .myj {
    background-image: url("../img/album/myj.jpg");
}

#blog .tabgroup .ymh {
    background-image: url("../img/album/ymh.jpg");
}

#blog .tabgroup .cmj {
    background-image: url("../img/album/cmj.jpg");
}

#blog .tabgroup .zq {
    background-image: url("../img/album/zq.jpg");
}

/* 16 */
#blog .tabgroup .gzj {
    background-image: url("../img/album/gzj.jpg");

    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat
}

#blog .tabgroup .lxy {
    background-image: url("../img/album/lxy.jpg");

}

#blog .tabgroup .ly {
    background-image: url("../img/album/ly.jpg");

}

/* 17 */
#blog .tabgroup .xwh {
    background-image: url("../img/album/xwh.jpg");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat
}

#blog .tabgroup .wsn {
    background-image: url("../img/album/wsn.jpg");
}

#blog .tabgroup .dsy {
    background-image: url("../img/album/dsy.jpg");
}

#blog .tabgroup .dxl {
    background-image: url("../img/album/dxl.jpg");
}

#blog .tabgroup .fzr {
    background-image: url("../img/album/fzr.jpg");
}

#blog .tabgroup .lh {
    background-image: url("../img/album/lh.jpg");
}

#blog .tabgroup .xzt {
    background-image: url("../img/album/xzt.jpg");
}

#blog .tabgroup .zht {
    background-image: url("../img/album/zht.jpg");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat
}

#blog .tabgroup .lyr {
    background-image: url("../img/album/lyr.jpg");
}

#blog .tabgroup .cq {
    background-image: url("../img/album/cq.jpg");
}

#blog .tabgroup .xjp {
    background-image: url("../img/album/xjp.jpg");
}

#blog .tabgroup .zch {
    background-image: url("../img/album/zch.jpg");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat
}

#blog .tabgroup .lsw {
    background-image: url("../img/album/lsw.jpg");
}

#blog .tabgroup .lhz {
    background-image: url("../img/album/lhz.jpg");
}

#blog .tabgroup .lj {
    background-image: url("../img/album/lj.jpg");
}

#blog .tabgroup .wjy {
    background-image: url("../img/album/wjy.jpg");
}

#blog .tabgroup .zzy {
    background-image: url("../img/album/zzy.jpg");
}